@media screen and (max-width: 390px) {
    body {
        box-sizing: border-box;
        margin: 0 auto;
        background-color: hsl(0, 0%, 100%);
        font-family: 'Space Grotesk', sans-serif;
        font-size: 18px;
        min-height: 100vh;
        max-width: 390px;
    }

    @layer base {
        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    h2 {
        font-size: 12px;
        letter-spacing: 1.7px;
        color: hwb(278 4% 82%);
        opacity: 0.8;
    }

    div.container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: hsl(0, 0%, 100%);
    }

    img.main-logo {
        position: relative;
        width: 390px;
    }

    img.bg-card-back,
    img.bg-card-front,
    img.cc-logo,
    span.name-on-card {
        position: absolute;
        width: 290px;
        left: 70px;
        top: 40px;
    }

    img.bg-card-front {
        left: 18px;
        top: 130px;
    }

    img.cc-logo {
        width: 50px;
        left: 40px;
        top: 150px;
    }

    span.name-on-card,
    span.exp-on-cardMM,
    span.exp-slash,
    span.exp-on-cardYY,
    span.number-on-card,
    span.cvc-on-card {
        position: absolute;
        color: white;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 10px;
        opacity: 0.8;
        letter-spacing: 1.4px;
        left: 250px;
        top: 255px;
    }

    span.name-on-card {
        left: 40px;
        top: 255px;
    }

    span.exp-slash {
        left: 265px;
    }

    span.exp-on-cardYY {
        left: 270px;
    }

    span.number-on-card {
        font-size: 19px;
        left: 40px;
        top: 213px;
        opacity: 1;
    }

    span.cvc-on-card {
        /* font-size: 19.5px; */
        top: 112px;
        left: 301px;
    }

    div.hidden-error-enabled,
    div.hidden-blank-enabled,
    div.hidden-blank-cvc-enabled,
    div.hidden-letter-enabled,
    div.hidden-character-enabled,
    div.hidden-char-enabled {
        font-size: 12px;
        color: red;
        opacity: 0.7;
        margin: 6px;
    }

    div.hidden-error-disabled,
    div.hidden-blank-disabled,
    div.hidden-blank-cvc-disabled,
    div.hidden-letter-disabled,
    div.hidden-character-disabled,
    div.hidden-char-disabled {
        display: none;
    }

    /* cardholder name, number */
    div.bottom-box {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        padding: 25px;
        row-gap: 40px;
        /* align-items: flex-start; */
    }

    div.check-logo {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        padding: 25px;
        row-gap: 15px;
        align-items: center;
    }

    .complete-check-logo {
        width: 80px;
    }

    .ty-section {
        text-align: center;
    }

    .ty-section h2 {
        font-size: 27px;
        color: hsl(278, 68%, 11%);
    }

    .ty-section p {
        color: hsl(279, 6%, 55%);
        font-weight: 500;
        opacity: 0.9;
    }

    section.card-name-section,
    section.card-number-section,
    section.card-exp-section,
    section.cvc-section {
        height: 80px;
        width: 100%;
    }

    section.card-exp-section {
        width: 50%;
    }

    section.cvc-section {
        width: 50%;
    }

    /* exp date cvs */
    div.middle-box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 25px;
        margin-top: 10px;
        grid-gap: 5%;
    }

    input[type='text'],
    input[type='number'] {
        color: hsl(278, 68%, 11%);
        height: 55%;
        text-align: left;
        font-family: 'Space Grotesk', monospace;
        font-size: 18px;
        font-weight: 500;
        border-style: solid;
        border-width: thin;
        border-color: hsl(270, 3%, 87%);
        border-radius: 10px;
        cursor: pointer;
        padding-left: 20px;
    }

    /* the actual box inputs */
    input[type='number'].exp-mm,
    input[type='number'].exp-yy {
        width: 20%;
    }

    input[type='number'].cvc {
        width: 65%;
    }

    input.card-name,
    input.card-number {
        width: 93%;
    }

    input:focus {
        outline: 2px;
        outline-color: hsl(278, 68%, 11%);
        outline-style: solid;
        outline-width: thin;
    }

    input.outline-error {
        outline: 2px;
        outline-style: solid;
        outline-color: hsl(0, 64%, 65%);
    }

    div.btn {
        width: 87%;
        margin-top: 40px;
        padding: 0 25px;
    }

    div.hide-me {
        display: none;
    }

    .confirm-btn {
        background-color: hsl(278, 68%, 11%);
        color: hsl(0, 0%, 100%);
        border: solid;
        border-radius: 10px;
        border: none;
        font-family: 'Space Grotesk', monospace;
        width: 100%;
        height: 55px;
        font-size: 1.1rem;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 10px;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    ::placeholder {
        color: hsl(270, 3%, 87%);
        text-align: left;
        font-size: 18px;
        font-weight: 500;
    }
}

/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
- Weights: 500 */
